.main {
    padding: 3rem;
}

.bar {
    width: 100%;
    display:flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.top {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .top {
        flex-direction: column;
        align-items: center;
    }
}


.seeAll {
    color: indigo;
    cursor: pointer;
}

.seeAll:hover {
    animation: wiggle 2s linear infinite;
}
  
  
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}
  