.icon {
    width: 20px;
    height: 20px;
    margin: 4px;
}

.chips {
    position: relative;
    white-space: nowrap;
}

.chipBtn {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin: 0.3rem 0.5rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--primaryFont);
    color:  var(--primaryFont);
}

.selected {
    color: var(--outlineColor);
    border: 1px solid var(--outlineColor);
    background-color: #FCF5FF
}

.chipBtn:hover {
    color: var(--outlineColor);
    border: 1px solid var(--outlineColor);
}

.directionalBtn {
    font-size: 3rem;
    cursor: pointer;
    font-weight: 100;
    color: var(--primaryFont);
    padding-top: 1rem;
    position: absolute;
    background: transparent;
    z-index: 3;
}

.directionalBtn.left {
    left: 1rem;
}

.directionalBtn.right {
    right: 1rem;
}