input[type="text"] {
    border-radius: 4px;
    height: 39px;
    padding: 4px;
    margin: 10px 16px;
    border: 1px solid #D7D7D7;
}

.menu {
    position: absolute;
    /* inset: 0px auto auto 0px; */
    transform: translate(0px, 10px);
    z-index: 2;
    background: #fff;

}

.menuItem {
    margin: 5px;
    padding: 12px;
    border-bottom: 1px solid #D7D7D7;
    cursor:pointer
}

.menuItem:nth-last-child(1) {
    border-bottom: none;
}

.menuItem:hover {
    background-color: aliceblue;
}

.dropDownMenu {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
}